@mixin link-reset{
  text-decoration: none;
  
  &:active,
  &:focus{
    color: inherit;
  }
}

@mixin container-styles {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

@mixin button-style {
  color: $btn-color;
  text-transform: uppercase;
}