//Colors
$light-gray: #fafafa;
$gray: #f0f2f3;
$dark-blue: #314f70;
$white: #fff;
$green: #39ca87;


// Fonts
$base-font-sans-serif: 'Raleway', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$secondary-font-family: 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

// Body
$base-text-color: $dark-blue;
$base-background-color: $light-gray;
$second-background-color: $gray;
$font-size-base: 14px;
$line-height-base: 1.7;
$base-font-family: $base-font-sans-serif;

// Liks
$base-link-color: $dark-blue;

// Buttons 
$btn-color: $white;
$btn-background: $green;
$btn-padding: 0.4em 0.7em;
$btn-font-size: inherit;

// Forms
$form-element-padding: $btn-padding;
$form-element-border-color: $dark-blue;
$form-element-focus-border-color: $green;
$placeholder-color: #c4c6c9;

// Headers
$h1-font-size: 32px;
$h2-font-size: 30px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$h5-font-size: 13px;
$h6-font-size: 12px;

$headings-font-family: $secondary-font-family;
$headings-color: $dark-blue;

// Transition
$base-transition: all .3s;

// Padding
$section-padding-lg: 60px 0;
