@import "../../shared/variables.scss";
@import "../../shared/mixins.scss";

.footer {
  background-color: $base-text-color;
  color: $dark-gray;
  font-weight: 300;
}

.contactFormWrap {
  padding: 25px 0;
  background-color: $form-element-border-color;
  border-bottom: 1px solid #576e8a;
}

.contactForm {
  display: flex;
  justify-content: space-between;
}
.inputWrap,
.submitWrap {
  width: 25%;
}

.textareaWrap {
  width: 49%;
}

.input,
.textarea,
.submitInput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: $btn-padding;
  border: 1px solid $form-element-border-color;
}

.input {
  height: 40px;
}

.input,
.textarea {
  background-color: #3b5d86;
  color: #c4c6c9;
  font-style: italic;

  &:focus-visible {
    background-color: $white;
    outline: none;
    border-color: $form-element-focus-border-color;
  }
}

.submitInput {
  background-color: $btn-background;
  color: $white;
  transition: $base-transition;

  &:hover {
    opacity: 0.8;
  }
}

.footerColumnsBlock {
  padding: $section-padding-lg;
  border-bottom: 1px solid #576e8a;
}

.footerColumnsList {
  display: flex;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.footerColumnItem {
  width: 25%;
  padding-right: 30px;

  &:last-child {
    padding-right: 0;
  }
}

.postLink,
.tweetLink {
  @include link-reset;
  color: $dark-gray;
  transition: $base-transition;

  &:hover {
    color: $light-gray;
  }
}

.postItem {
  display: flex;
  margin-bottom: 15px;
}

.tweetIcon {
  color: $light-gray;
  font-size: 22px;
  margin-right: 15px;
}

.tweetAuthor {
  color: $light-gray;
}

.searchForm {
  margin-bottom: 30px;
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: none;
  border: 0;
  color: #355479;
  font-size: 24px;
}

.bottomText {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}
